.card {
  background-color: var(--mantine-color-white);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-sm);
}

.card-dark {
  background-color: var(--mantine-color-dark-7);
}

.imageSection {
  padding: var(--mantine-spacing-md);
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  margin-bottom: var(--mantine-spacing-xs);
  line-height: 1;
  font-weight: 700;
  font-size: var(--mantine-font-size-xs);
  letter-spacing: -0.25rem;
  text-transform: uppercase;
}

.section {
  padding: var(--mantine-spacing-md);
  border-top: 1px solid var(--mantine-color-gray-3);
}

.section-dark {
  border-top: 1px solid var(--mantine-color-dark-4);
}

.icon {
  margin-right: 0.3125rem; /* rem(5px) */
  color: var(--mantine-color-gray-5);
}

.icon-dark {
  color: var(--mantine-color-dark-2);
}

.price {
  font-size: var(--mantine-font-size-xl);
  font-weight: 700;
  line-height: 1;
}

.button {
  border-radius: var(--mantine-radius-xl);
  flex: 1;
}
